span {
  display: block;
}

.canvas {
    width: 80%;
    text-align: center;
    margin: 100px auto 100px;
}

.button{
    width : 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

#blue{
    background: blue;
}

#red{
    background: red;
}

#green{
    background: green;
}

#yellow{
    background: yellow;
}